---
layout: sezionelocale
title: Bari
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Bari</h1>
        <p>La Sezione Locale di Bari nasce dal gruppo informale che negli anni ha organizzato il Linux Day nel capoluogo pugliese, e coinvolge diversi soggetti soprattutto nell'ambito dell'università locale.</p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Web</strong>: <a href="https://bari.ils.org/" rel="nofollow">Clicca Qui</a>
                    </p>
                    <p>
                        <strong>Referente</strong>: ferdinando.traversa@linux.it
                    </p>
                    <p>
                        <strong>Forum</strong>: <a href="https://forum.linux.it/c/lug/ils-bari/22" rel="nofollow">Clicca Qui</a>
                    </p>
            </div>
        </div>
    </div>
</div>
