---
layout: sezionelocale
title: Roma
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Roma</h1>
        <p>
    La Sezione Locale di Roma nasce dallo storico obiettivo di riunire LUG ed Associazioni presenti all'interno del territorio romano. 
    </p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Web</strong>: <a href="https://roma.ils.org/" rel="nofollow">https://roma.ils.org</a>
                    </p>
		    <p>
		    	<strong>Telegram</strong>: 
			<br>
			<a href="https://t.me/ils_roma" rel="nofollow">Gruppo ILS Roma</a>
			<br>
			<a href="https://t.me/velletrilug" rel="nofollow">Velletri LUG</a>
            </div>
        </div>
    </div>
</div>
