---
layout: sezionelocale
title: Verona
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Verona</h1>
        <p>
        Nata dagli studenti del <a href="https://311verona.org/" rel="nofollow">311 Verona</a> e supportata da <a href="https://www.fondazioneedulife.org/" rel="nofollow">Fondazione Edulife</a>.
    </p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Referente</strong>: antonio.faccioli@linux.it
                    </p>

            </div>
        </div>
    </div>
</div>
